.Buttons{
  margin-top: 5px;
  height: 380px;
  width: 98%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

button{
  color: white;
  font-family: Share Tech Mono, monospace;
  font-weight: 700;
  font-size: large;
  border: none;
  cursor: pointer;
}

.ACButton{
  grid-column: span 2;
  background-color: rgb(42, 61, 42);
}

.ACButton:hover{
  background-color: rgb(49, 68, 49);
}

.ACButton:active{
  background-color: rgb(27, 46, 27);
}

.OPButton{
  background-color: rgb(59, 59, 59);
}

.OPButton:hover{
  background-color: rgb(66, 66, 66);
}

.OPButton:active{
  background-color: rgb(44, 44, 44);
}

.EqButton{
  grid-row: span 2;
  background-color: rgb(37, 37, 42);
}

.EqButton:hover{
  background-color: rgb(44, 44, 49);
}

.EqButton:active{
  background-color: rgb(22, 22, 27);
}

.NumButton{
  background-color: rgb(61, 61, 81);
}

.NumButton:hover{
  background-color: rgb(68, 68, 88);
}

.NumButton:active{
  background-color: rgb(46, 46, 66);
}

.ZeroButton {
  grid-column: span 2;
  background-color: rgb(61, 61, 81);
}

.ZeroButton:hover{
  background-color: rgb(68, 68, 88);
}

.ZeroButton:active{
  background-color: rgb(46, 46, 66);
}